*{
    margin:0px;
}
body {
    font-family: 'Antic';
    font-size: 22px;
}
.container {
    margin: auto;
    padding: 0 12px;
    width: 75%;
    border-left: 0.25em solid darkgrey;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
header {
    text-align: center;
}
.fahrenheit {
    background-color: rgba(169, 169, 169, 0.45);
    border-radius: 5px;
    padding: 0 2.5px;
}
